@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;900&display=swap');
body{
    font-family: 'Rubik', sans-serif;
    background-color: #211E28;
    color: #EEEEEE;
    padding-top: 70px ;
}
/* banner styles */
.klee-banner{
    background-color: #CE3131;
}
.perm-banner{
    background-color: #529797;
}
.weapon-banner{
    background-color: #EB671C;
}
/* Bootstrap edit */
.navbar{
    height: 50px;
    margin-bottom: 30px;
    background-color: #303A4A;
}
.btn{
    border-radius: 2px;
    font-weight: 500;
    color: #EEEEEE ;
    border: 0;
}
.row{
    margin-left: 0;
    margin-right: 0;
}
/* Banner Card */
.banner-card{
    margin-left: auto;
    margin-right: auto;
    max-width: 800px;
    height: 350 !important;
    overflow: hidden;
    margin-bottom: 20px;
}
.banner-img{
    padding: 0 !important;
}
.banner-img img{
    width: 100%;
}
.banner-info{
    padding: 10px;
    text-transform: uppercase;
}
.banner-txt{
    width: 100%;
    margin-bottom: 10px;
    position: relative;
}
.counter-txt{
    text-align: center;
    font-size: 7em;
    font-weight: 500;
    width: 100%;
    margin-top: -10px;
    margin-bottom: -35px;
}
.banner-txt p{
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
}
.count-title{
    font-size: 1.1em;
    font-weight: 500;
    margin-bottom: -3px !important;
}
.count-sub{
    font-weight: 300;
    font-size: 0.8em;
}
/* Buttons */
.banner-btns{
    padding-left: 5px;
    padding-right: 5px;
}
.banner-btns .plus-btn:first-child{
    margin-left: 0px;
}
.plus-btn{
    box-sizing: border-box;
    width: calc(50% - 4px);
    background-color: #BDE032;
    margin-left: 8px;
    margin-bottom: 8px !important;
}
.got-btn{
    width: 100%;
    background-color: #FFA800;
}
/* Media break */
@media only screen and (max-width: 991px) {
    .counter-txt{
        font-size: 6em;
    }
    .count-title{
        font-size: 1em;
    }
    .banner-txt{
        margin-bottom: 0;
    }
}
@media only screen and (max-width: 767px) {
    .banner-txt{
        max-width: 20%;
        margin-bottom: 0;
    }
    .banner-btns{
        max-width: 40%;
    }
    .counter-txt{
        font-size: 3em;
        margin-bottom: -10px;
    }
    .banner-txt p{
        margin-bottom: 0;
    }
    .count-title{
        font-size: 0.7em;
    }
    .count-sub{
        font-size: 0.65em;
    }
}
@media only screen and (max-width: 521px) {
    .banner-btns{
        max-width: 60%;
        flex: 0 0 60%;
    }
    .banner-txt{
        max-width: 40%;
        flex: 0 0 40%;
    }
}