@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;900&display=swap');
body{
    font-family: 'Rubik', sans-serif;
    background-color: #211E28;
    color: #EEEEEE;
    padding-top: 70px ;
    min-width: 360px;
}
/* GROAD MAIN STYLES */
/* Bootstrap edit */
.btn{
    border-radius: 2px;
    font-weight: 500;
    color: #EEEEEE ;
    border: 0;
}
.row{
    margin-left: 0;
    margin-right: 0;
}
/* Text color */
.groad-G{
    color: #FFA506;
}
/* NAVBAR */
.navbar{
    height: 50px;
    margin-bottom: 30px;
    background-color: #303A4A;
    padding: 0;
}
.groad-navLogo{
    height: 30px;
}
.navbar a{
    color: #EEEEEE;
    margin: 0 10px;
    height: 50px;
    padding-top: 13px;
}
.navbar a:hover{
    border-bottom: #FFA506 2px solid;
    text-decoration: none;
    color: #FFA506;
}
.groad-navBrand{
    height: auto !important;
    padding-top: 0px !important;
}
.groad-navBrand:hover{
    border-bottom: none !important;
}
/* Header */
.groad-header{
    padding: 5px;
    background-color: #4049582c;
    margin-bottom: 20px;
}
.groad-header h1{
    margin-bottom: 0;
}
/* banner styles */
.klee-banner{
    background-color: #CE3131;
}
.tartaglia-banner{
    background-color: #1c76ec;
}
.zhongli-banner{
    background-color: tan;
}
.perm-banner{
    background-color: #529797;
}
.weapon-banner{
    background-color: #EB671C;
}

/* Banner Card */
.banner-card{
    margin-left: auto;
    margin-right: auto;
    max-width: 800px;
    overflow: hidden;
    margin-bottom: 20px;
}
.banner-img{
    padding: 0 !important;
}
.banner-img img{
    width: 100%;
}
.banner-info{
    padding: 10px;
    text-transform: uppercase;
}
.banner-txt{
    width: 100%;
    margin-bottom: 10px;
    position: relative;
}
.counter-txt{
    text-align: center;
    font-size: 7em;
    font-weight: 500;
    width: 100%;
    margin-top: -10px;
    margin-bottom: -35px;
}
.banner-txt p{
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
}
.count-title{
    font-size: 1.1em;
    font-weight: 500;
    margin-bottom: -3px !important;
}
.count-sub{
    font-weight: 300;
    font-size: 0.8em;
}
/* Buttons */
.banner-btns{
    padding-left: 5px;
    padding-right: 5px;
}
.banner-btns .plus-btn:first-child{
    margin-left: 0px;
}
.plus-btn{
    box-sizing: border-box;
    width: calc(50% - 4px);
    background-color: #BDE032;
    margin-left: 8px;
    margin-bottom: 8px !important;
}
.got-btn{
    width: 100%;
    background-color: #FFA800;
}
/* Media break */
@media only screen and (max-width: 991px) {
    .counter-txt{
        font-size: 6em;
    }
    .count-title{
        font-size: 1em;
    }
    .banner-txt{
        margin-bottom: 0;
    }
}
@media only screen and (max-width: 767px) {
    .banner-txt{
        max-width: 30%;
        margin-bottom: 0;
    }
    .banner-btns{
        max-width: 70%;
    }
    .counter-txt{
        font-size: 3em;
        margin-bottom: -10px;
    }
    .banner-txt p{
        margin-bottom: 0;
    }
    .count-title{
        font-size: 0.7em;
    }
    .count-sub{
        font-size: 0.65em;
    }
}
@media only screen and (max-width: 575px) {
    .groad-footer a{
        margin-bottom: 20px;
    }
}
@media only screen and (max-width: 521px) {
    .banner-btns{
        max-width: 60%;
        flex: 0 0 60%;
    }
    .banner-txt{
        max-width: 40%;
        flex: 0 0 40%;
    }
}

/* FOOTER */
.groad-footer{
    background-color: #303a4a3f;
    padding: 20px 0;
    font-size: 0.8em;
    color: #cacaca;
}
.groad-footerLogo{
    height: 30px;
    margin-top: 15px;
}
.groad-footer p{
    margin-bottom: 5px;
}
.groad-footer a{
    display: inline-block;
    padding: 5px 20px;
    margin-top: 5px;
    background-color: #4451662a;
    color: #9e9e9e;
    font-size: 1.2em;
    width: 80%;

}
.groad-footer a:hover{
    background-color: #404958;
    text-decoration: none;
    color: #FFA506;
}
/* ADS */
.groad-ad {
    min-height: 90px;
    display: flex;
    background-color: #303a4a2c;
    margin-bottom: 20px;
    position: relative;
    border: 1px solid #eb681c7c;
    align-items:center;
    justify-content:center;
}
.groad-ad span{
    text-align: center;
    position: absolute;
    color: #eb681c7c;
    z-index: -1;
    vertical-align: middle;
    user-select: none;
}